body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    position: relative;
    margin: 15px;
    margin: 0 auto;
    max-width: 1300px;
}

.gallery-wrapper{
    overflow-x: auto;
    display: flex;
/*     scrollbar-width: none;
 */}

.gallery-wrapper input{
    display: none;
}

.gallery{
    display: flex;
    flex-flow: row nowrap;
    width: 600%;
    height: 300px;
    text-align: center;
    font-family: 'Comfortaa', sans-serif;
    color: rgb(37 36 64)
}

.container-int{
    margin-top: 50px;
}

.titulo1{
    position: relative;
    top: 50%;   
    left: 50%;
    transform: translate(-50%, -2200%);
    text-align: center;
}
  
.centered-list1{
    position: relative;
    top: 50%;
    left: 15%;
    transform: translate(0%, -560%);
    text-align: left;
    font-size:13px;
}


.icon1{
    position: relative;
    top: 0%;
    left: 16%;
    transform: translate(-110%, -450%);
}

.titulo2{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -1100%);
    text-align: center;
}
  
.centered-list2{
    position: relative;
    top: 50%;
    left: 15%;
    transform: translate(0%, -950%);
    text-align: left;
    font-size:13px;
}


.icon2{
    position: relative;
    top: 0%;
    left: 16%;
    transform: translate(-110%, -450%);
}

.titulo3{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -1100%);
    text-align: center;
}
  
.centered-list3{
    position: relative;
    top: 50%;
    left: 15%;
    transform: translate(0%, -1420%);
    text-align: left;
    font-size:13px;
}


.icon3{
    margin-top: 20px;
    position: relative;
    top: 0%;
    left: 16%;
    transform: translate(-110%, -450%);
}

.titulo4{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -2200%);
    text-align: center;
}
  
.centered-list4{
    position: relative;
    top: 50%;
    left: 15%;
    transform: translate(0%, -1350%);
    text-align: left;
    font-size:13px;
}


.icon4{
    position: relative;
    top: 0%;
    left: 16%;
    transform: translate(-110%, -450%);
}

.titulo5{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -2200%);
    text-align: center;
}
  
.centered-list5{
    position: relative;
    top: 50%;
    left: 15%;
    transform: translate(0%, -570%);
    text-align: left;
    font-size:13px;
}


.icon5{
    position: relative;
    top: 0%;
    left: 16%;
    transform: translate(-110%, -450%);
}

.titulo6{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -2200%);
    text-align: center;
}
  
.centered-list6{
    position: relative;
    top: 50%;
    left: 15%;
    transform: translate(0%, -710%);
    text-align: left;
    font-size:13px;
}


.icon6{
    position: relative;
    top: 0%;
    left: 16%;
    transform: translate(-110%, -450%);
}

.titulo7{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -2200%);
    text-align: center;
}
  
.centered-list7{
    position: relative;
    top: 50%;
    left: 15%;
    transform: translate(0%, -920%);
    text-align: left;
    font-size:13px;
}


.icon7{
    position: relative;
    top: 0%;
    left: 16%;
    transform: translate(-100%, -450%);
}

.manual-navigation{
    position: absolute;
    width: 100%;
    margin-top: -60px;
    display: flex;
    justify-content: center;
}

.manual-btn{
    border: 2px solid #000000;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s;
}

.manual-btn:not(:last-child){
    margin-right: 10px;
}

.manual-btn:hover{
    background-color:#21216d;
}

